.navbar{
    background-color: #0c8397;
    .navbar-brand
    {
        color: azure;
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
}