.content{
	background: url(../assets/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border-top: 1px solid #ed6f35;
    padding-bottom: 30px;
    padding-top: 30px;
    height: 100%; 
}

.layout-space{
    margin-right: 0%;
    margin-bottom: 3%;
    /**
    For tablet and desktop devices 
    **/
    @media screen and (min-width: 575px) {
        margin-right: 3%;
    }
}