.content{
	background: url(../assets/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border-top: 5px solid #ed6f35;
    padding: 30px 0 30px;
    height: 100%;
}

.layout-space{
    margin-right: 0%;
    margin-bottom: 3%;
    /**
    For tablet and desktop devices 
    **/
    @media screen and (min-width: 991px) {
        margin-right: 3%;
    }
}