.logo{
	height: 50px;
}

.search-panel {
    margin-bottom: 15px;
    margin-left: 0px;
    @media screen and (max-width: 1200px) {
        margin-right: 0px;
    }
    
    .search-box {
        padding-right: 0px;
        padding-left: 0px;
    }

    .sorting-panel{
        margin-top: 10px;
        text-align: right;
        padding-right: 0;
        @media screen and (min-width: 1200px) {
            text-align: center;
        }
    }
}

.table {
    tr {
        border-bottom: 1px solid #dee2e6;
        td{
            border: none;
            vertical-align: middle;
        }
    }
}

.close{
    border-bottom:1px solid #ced4da;
}