/* You can add global styles to this file, and also import other style files */

$primary-btn-color: #ed6f35;
$white-color: #ffffff;
.btn-primary {
    &:disabled {
        background-color: $primary-btn-color;
        border-color: $primary-btn-color;
    }
    background-color: $primary-btn-color;
    border-color: $primary-btn-color;
}

.panel-content{
    background-color: $white-color;
    padding: 15px;
}

input {
    border: 0px;
}
input:focus {
    outline: none;
}

.form-control{
    border: 0px;
    border-bottom:1px solid #ced4da;
}

.form-control:focus{
    box-shadow: none;
}